.bootstrap-select .dropdown-toggle{
    border: 1px solid black!important;
    color: #000!important;
    font-size: 20px;
    font-weight: 900!important;
    margin-left: 4px!important;
    margin-top: 4px!important;
}

.bootstrap-select .dropdown-toggle .filter-option{
    text-align: center!important;   
}

.borda_central{
    margin: 10px auto;
    width:fit-content;
}

.borda_inputs{
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    font-size: 20px;
    margin-left: 70px !important;
    margin-top: 40px;
    padding: 5px;
    width: 350px;
}

.borda_inputs label{
    margin-right: 10px;
    text-align: right;
    width: 90px;
}

.borda_inputs_usuario_senha{
    font-size: 16px;
    margin-left: 190px;
    text-align: center;
    width: 200px;
}

.borda_inputs input{
    flex: 1;
}

.borda_inputs2{
    align-items: center;
    /*border: 2px solid black;
    border-radius: 5px; */
    display: flex;
    font-size: 15px;
    margin-top: 20px;
    /*padding: 5px;*/
    width: 520px;
}

.borda_inputs2 label{
    margin-right: 10px;
    text-align: right;
    width: 180px;
    white-space: nowrap;
}

.borda_inputs2 input{
    width: 280px;
}

.borda_usuario_senha{
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 60px;       
    padding: 15px;                
    width: 500px;                 
}

.borda_usuario_senha_tira_borda{
    border:none !important;
    margin-top: 0px !important;
}

.borda_cadastro_danger{
    border: 3px solid red !important;
    outline: 1px solid red !important;
}

.botaozinho{
    margin-top: 40px;
}

.botaozinho_cadastro{
    display: inline-block;
    margin-left: 150px;
    margin-top: 110px;
}

.botaozinho_alterar_voltar{
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 15px;
}

.btn_fecha_tabela{
    background-color: rgb(114, 151, 179)!important;
    border: 1px solid black;
    left: 1480px!important;
    margin-left: 5px!important;
    position:fixed!important;
    top: 170px!important;
}

#btn_voltar_inicio3{
    margin-top: 60px;
    left: 50%;
    position:fixed;
    transform: translateX(-50%);
}

.close{
    opacity: 1!important;
}

.campo_cpf_alterar_usuario{
    font-size: 18px;
    margin-left: 150px;
    margin-top: 80px;
}

.campo_cpf_alterar_usuario input{
    width: 150px;
}

.container_index{
    border: 12px solid black;
    outline: 3px solid rgb(242, 234, 224);
    background-color: rgb(242, 234, 224);
    opacity: 90%;
    width: 600px;
    height: 500px;
    border-radius: 20px;
}

.container_divs{
    margin-left: 40px;
    /*display: flex;
    flex-direction: column;
    align-items: flex-start;*/
}

.div_add_categoria{
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
    margin-left: 30px;
    padding: 15px;
    width: 530px;
}

.div_add_categoria input{
    width: 370px;
}

.div_cadastro_finalizado{
    display: inline-block;
    font-size: 50px;
    margin-left: 30px;
    margin-top: 30px;
    text-align: center;
}

.div_cadastro_sucesso{
    color:brown;
    font-size: 20px;
    /*margin-left: 80px;
    margin-top: 30px;*/
    display:flex;
    justify-content: center;
}

.datatable_lupa{
    position:absolute!important;
    top: 150px !important;
}

.div_produto_linhas{
    margin-left:22px;
}

.dropdown-menu > li > a{
    font-size: 20px!important;
    font-weight: 900!important;
    padding: 0px 10px!important;
}

.fonte_estilo{
    font-family: Consolas;
    color:black;
    font-weight: 900;
}

.glyphicon_editar_categoria{
    font-size: 15px!important;
    left: 120px!important;  
}

.h6_estilo_cadastro{
    color: red;
    margin-left: 180px;
}

.icone_categoria{
    cursor: pointer!important;
    font-size: 20px;
    position: relative;
    left: 20px;
    top: 15px;
}

.icone_categoria_buscar{
    font-size: 30px;
    margin-left: 20px;
    top: 10px;
}

.icone_categoria_editar{
    color:blue;
    margin-left: 15px;
}

.icone_categoria_excluir{
    color:red;
    margin-left: 15px;
}

.icone_categoria_usuarios{
    color: rgb(252, 183, 8);
    margin-left: 15px;
}

.icone_usuario{
    cursor: pointer;
    font-size: 19px;
    left: 585px;
    margin-top: 14px!important;
}

.icone_usuario_sair{
    position: relative;
    left: 850px;
}

.icone_separador{
    background-color: #000;
    margin-left: 70px;
    margin-right: 30px;
    width: 6px;
}

.input_quantidade_produto{
    text-align: center!important;
    width:120px!important;
}

.links_tela_login{
    display:flex;
    gap:70px;
    margin-top: 130px;
}

.label_redireciona{
    margin-left: 200px;
    margin-top: 100px;
}

.modal_confirma_excluir_usuprod{
    position: relative!important;
    top: 150px!important;
    width: 430px;   
}

.modal-dialog{
    margin-top: 100px!important;
}

.modal_enfraquecido{
    opacity: 0.2!important;
}

.modal-footer{
    border-top: 0px!important;
    padding: 10px!important;
}

.modal_footer_add_carrinho{
    text-align: center!important;
}

.modal-header{
    border: 0px!important;
    min-height: 55px!important;
    position: relative!important;
}

.modal-header .close{
    margin-top: -20px!important;
}
.modal-header .modal-title{
    line-height: 0.5!important;
}

.modal_title_usuarios{
    text-align: center!important;
}

.modal_title_usuarios_infos{
    margin-top: 20px;
}

.modal_usuarios_produtos{
    width: 380px;
}
.pagina_inicial{
    background: 
        linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)),
        url('imagens/4_fatec.jpg');
    background-size: cover;
}

.pagina_inicial_container_menu{
    background-color: rgb(252, 242, 229);
    border: 2px solid black;
    border-radius: 5px;
    display:flex;
    height: 55px;
    margin-top: 2px;
    padding: 0px 5px;
    opacity: 95%;
}

.pagina_inicial_usuario_infos{
    position: absolute;
    right: 40px;
    text-align: right;
    top: 20px;
}

.pagina_login{
    /*background-color: aquamarine;*/
    background-image: url('imagens/1_fatec.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.row_botoes_alterar_usuario{
    display: flex;
    flex-direction: column;
    gap: 190px;
}

#select_produtos.bootstrap-select .dropdown-toggle{
    font-size: 15px!important;
}

.switch {
  position: relative;
  width: 45px;
  height: 24px;
  margin-top: 3px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cccccc;  
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.table{
    border: 2px solid black!important;
    width:1520px!important;
}

#tabela_carrinho_usuario tbody td{
    padding: 2px!important;
    text-align: center !important;
    vertical-align: middle !important;
}

#tabela_carrinho_usuario thead th{
    padding: 2px!important;
    text-align: center !important;
    vertical-align: middle !important;
}

#tabela_carrinho_usuario th:nth-child(1){
    width: 400px!important;
}

#tabela_carrinho_usuario th:nth-child(2){
    width: 110px!important;
}

#tabela_carrinho_usuario th:nth-child(3){
    width: 250px!important;
}

#tabela_carrinho_usuario th:nth-child(4){
    width: 150px!important;
}

#tabela_carrinho_usuario th:nth-child(5){
    width: 170px!important;
}

#tabela_carrinho_usuario th:nth-child(6){
    width: 180px!important;
}

#tabela_carrinho_usuario th:nth-child(7){
    width: 100px!important;
}

#tabela_carrinho_usuario_wrapper{
    font-size: 16px!important;
}

#tabela_categorias td {
    text-align: center !important;
    vertical-align: middle !important;
}

#tabela_categorias thead th{
    text-align: center !important;
}

#tabela_categorias_wrapper{
    font-size: 18px!important;
    left: 6px !important;
}

#tabela_categorias_produtos_wrapper{
    font-size: 18px!important;
    left: 6px !important;
}

#tabela_categorias_produtos td{
    text-align: center !important;
    vertical-align: middle !important;
}

#tabela_categorias_produtos thead th{
    text-align: center !important;
}

.tabela_linha_inativa{
    color:grey;
}

#tabela_usuarios_produtos th:nth-child(1) {
    width: 250px!important;
}

#tabela_usuarios_produtos th:nth-child(2) {
    width: 100px!important;
}

#tabela_usuarios_produtos th:nth-child(3) {
    width: 50px!important;
}

#tabela_usuarios_produtos thead tr th{
    background-color: rgb(114, 151, 179)!important;
    text-align: center!important;
    font-size: 16px;
}

#tabela_usuarios_produtos tbody tr td{
    text-align: center!important;
}

#tabela_usuarios_produtos_wrapper{
    border: 2px solid black;
    border-radius: 5px;
    left: 0px!important;
    width: 350px;
}

.table.table.dataTable > tbody > tr{
    background-color: whitesmoke!important;
    opacity: 93%!important;
}

.table.table.dataTable > thead > tr{
    background-color: rgb(114, 151, 179)!important;
    opacity: 90%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.switch-label {
  align-items: center;
  display: flex;
  gap: 10px;
  margin-top: 10px;
}